.community2025-1 {
  background-color: rgb(99, 185, 100, 0.5) !important;
}

.community2025-2 {
  background-color: rgb(180, 255, 149, 0.5) !important;
}

.community2025-3 {
  background-color: rgb(33, 135, 205, 0.5) !important;
}

.community2025-4 {
  background-color: rgba(240, 87, 87, 0.5) !important;
}

.community2025-5 {
  background-color: rgba(33, 102, 205, 0.5) !important;
}

.community2025-6 {
  background-color: rgba(99, 208, 220, 0.5) !important;
}

.community2025-7 {
  background-color: rgba(155, 79, 2, 0.5) !important;
}

.community2025-8 {
  background-color: rgba(59, 82, 88, 0.5) !important;
}

.community2025-9 {
  background-color: rgba(238, 248, 131, 0.5) !important;
}